html {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	background-color: pink;
}

header,
main {
	text-align: center;
	width: 500px;
	background-color: white;
	padding: 1rem;
}

h2 {
	margin-top: 3rem;
}

#knightimage {
	width: 300px;
}
